.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black ;
    box-sizing: border-box;
    box-shadow: rgb(215, 133, 32);

}
.logo{
    width:90px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    
}

.res-card{
    padding :5px;
    width: 200px;
    height: 500px;
    border:1px solid black;
    margin:5px;
}
.res-logo{
    width: 100%;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}